<%= form_for(@like) do |f| %>
  <% if @like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% @like.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map {|p| [p.email, p.id]} %>

    <%= f.label :check_in_id %><br />
    <%= f.select :check_in_id, CheckIn.all.map {|p| [p.story, p.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
