<%= form_for(@check_in) do |f| %>
  <% if @check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% @check_in.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_field :story %><br />

    <%= f.label :cab_id %><br />
    <%= f.select :cab_id, Cab.all.map {|p| [p.medallion_number, p.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
