<h1>Listing cabs</h1>

<h4>Import Cabs</h4>
<%= form_tag import_cabs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table>
  <tr>
    <th>Medallion number!</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabs.each do |cab| %>
  <tr>
    <td><%= cab.medallion_number %></td>
    <td><%= link_to 'Show', cab %></td>
    <td><%= link_to 'Edit', edit_cab_path(cab) %></td>
    <td><%= link_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cab', new_cab_path %>
